
 <div fxLayout="column" fxLayoutAlign="space-around">
    <div>
        <title class="title" mat-dialog-title>Change Password</title>
    </div>
    <mat-progress-bar *ngIf="asyncService?.isLoading | async" mode="indeterminate"></mat-progress-bar>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <form [formGroup]="form" autocomplete="off">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
                <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="20%" fxLayout.lt-sm="column"
                    fxFlex.xs="100%" fxLayoutAlign="flex-start">
                    <mat-form-field appearance="outline" fxFlex="1 1 calc(100% - 10px)"
                        fxFlex.lt-md="1 1 calc(100% - 10px)" fxFlex.lt-sm="100%" fxFlex.xs="100%" class="from-color">
                        <mat-label class="label-padding">Enter Current Password</mat-label>
                        <input type="password" class="label-padding" type="text" style="-webkit-text-security: disc;"
                            matInput placeholder="Current Password" formControlName="currentPassword" />
                                <mat-error *ngIf="currentPassword?.errors?.['required'] && currentPassword?.touched">Enter current password</mat-error>
                                <mat-error *ngIf="currentPassword?.errors?.['matches']==false">Doesn't match</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="1 1 calc(100% - 10px)"
                        fxFlex.lt-md="1 1 calc(100% - 10px)" fxFlex.lt-sm="100%" fxFlex.xs="100%" class="from-color">
                        <mat-label class="label-padding">Enter New Password</mat-label>
                        <input type="password" class="label-padding" type="text" style="-webkit-text-security: disc;"
                            matInput placeholder="New Password" formControlName="newPassword" />
                                <mat-error *ngIf="newPassword?.errors?.['required'] && newPassword?.touched">Specify a password</mat-error>
                                <mat-error *ngIf="newPassword?.errors?.['minlength']">Must contain at least 8 characters</mat-error>
                                <mat-error *ngIf="newPassword?.errors?.['maxlength']">Can't exceed 14 characters</mat-error>
                                <mat-error *ngIf="newPassword?.errors?.['pattern']">Must contain atleast one lowercase letter, one uppercase letter and one special character</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="1 1 calc(100% - 10px)"
                        fxFlex.lt-md="1 1 calc(100% - 10px)" fxFlex.lt-sm="100%" fxFlex.xs="100%" class="from-color">
                        <mat-label class="label-padding">Confirm Password</mat-label>
                        <input type="password" class="label-padding" type="text" style="-webkit-text-security: disc;"
                            matInput placeholder="Confirm Password" formControlName="confirmPassword" />
                            <mat-error *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched && newPassword?.dirty">Please confirm password</mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.['confirmedValidator'] && confirmPassword?.dirty">Doesn't match</mat-error>
                    </mat-form-field>
                    <div mat-dialog-actions fxFlex="1 1 calc(100% - 10px)" fxFlex.lt-md="1 1 calc(100% - 10px)"
                        fxFlex.lt-sm="100%" fxFlex.xs="100%" class="from-color" fxLayoutAlign="center center"
                        fxLayoutGap="10px">
                        <button type="button" [mat-dialog-close] mat-raised-button
                            style="background-color : red; color: white;">Cancel</button>
                        <button type="submit" (click)="onSubmit()" style="background-color : #01ADE4; color: white;"
                            mat-raised-button [disabled]="!form.valid">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
